@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/public/background.png");
  backdrop-filter: blur(80px);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  font-family: "Josefin Sans", sans-serif;
}

.card-container {
  border: 1px solid white;
}
